node_modules/
dist/
*.tsbuildinfo
.DS_Store
.vercel
.netlify
_site/
.astro/
test-results/
*.log
package-lock.json
.turbo/
.eslintcache
.pnpm-store
.vscode-test/

*.env
.idea
*.code-workspace

image-sources